<%= form_with(model: team, local: true) do |form| %>
<div class="card-content">


    <%if team.errors.empty? == false %>
    <div class="input-field">
    <%= form.text_field :name, id: "icon_prefix", autocomplete: "off",class:"validate invalid"%>
      <label for="icon_prefix" class="active green-text text-darken-2">Nome Squadra</label>
      <span class="helper-text" data-error="nome <%=team.errors[:name].to_s.delete('[""]')%>" data-success="riprova">Helper text</span>
    </div>
    <%else%>
    <div class="input-field">
    <%= form.text_field :name, id: "icon_prefix", autocomplete: "off"%>
      <label  for="icon_prefix" class="active green-text text-darken-2">Nome Squadra</label>
    </div>
    <%end%>


  <p class="green-text text-darken-3">Tipologia squadra</p><br>
  <p>
    <label class="checkbox_calcetto" for="calcetto">
      <% if !team.calcetto %>
      <%= form.check_box :calcetto, id:"calcetto" %>
      <% end %>
      <% if team.calcetto %>
      <%= form.check_box :calcetto, id:"calcetto" %>
      <% end %>
      <span>Calcetto</span>
    </label>
    </p>
  <p><br>
    <label class="checkbox_calciotto"  for="calciotto">
      <% if !team.calciotto %>
      <%= form.check_box :calciotto, id:"calciotto" %>
      <% end %>
      <% if team.calciotto %>
      <%= form.check_box :calciotto, id:"calciotto" %>
      <% end %>
      <span>Calciotto</span>
    </label>
  </p>


</div>
<div class="row center-align">
  <div class="col s6">
    <%= link_to url_for(:back), class: "btn " do%>
      Indietro<i class=" material-icons left">chevron_left</i>
      <%end%>
  </div>
  <div class="col s6">
  <%= button_tag(type: 'submit', class: " btn") do %>
  Crea Squadra<i class="icon-soccer-shoe left" style="color: white !important"></i><%end%>
  <% end %>
</div>
</div>
