<div class="container">
  <%= form_for :team, url: {action: "update_members_roles" } do |f| %>
  <ul class="collection with-header" style="overflow:visible">
      <li class="collection-header"><h4>Giocatori</h4></li>
    <% @users.each do |user|%>
      <li class="collection-item avatar" data-id="<%=user.id%>"><%=user.email%>
        <% if user.avatar.present?%>
        <%= image_tag user.avatar, :class =>"circle avatar" %>
        <% else %>
        <% if user.remote_avatar_url != nil%>
        <%= image_tag user.remote_avatar_url, :class =>"circle avatar " %>
        <% end %>
        <% end %>
        <% if user.has_role?(:manager,@team) %>
        <div class="input-field right">
          <select name="team[<%=user.id%>][member_role]" class="roles">
            <option value="" disabled>Scegli il ruolo</option>
            <option value="manager" selected>Manager</option>
            <option value="member" >Membro</option>
          </select>
        </div>
        <% end %>
        <% if user.has_role?(:member,@team) %>
        <div class="input-field right">
          <select name="team[<%=user.id%>][member_role]" class="roles">
            <option value="" disabled>Scegli il ruolo</option>
            <option value="manager" >Manager</option>
            <option value="member"  selected>Membro</option>
          </select>
        </div>
        <% end %>
      </li>
    <%end%>
    <br>
    <div class="actions">
      <!--%= form.submit %-->
      <%= button_tag(type: 'submit', class: "green darken-2 btn waves-effect waves-light right",name: 'action') do %>
        <i class="icon-soccer-court"></i> Procedi
      <% end %>
      <%= link_to team_path(@team), class: "red left btn btn-primary" do %>
      <i class="material-icons left">chevron_left</i> Indietro
      <%end%>
    </div>
  </ul>
  <%end%>
</div>
