<div class="container">
  <div class=" card section">
    <div class="card-header" style="margin-top:1em">
        <div class="col s12">
          <a  class="breadcrumb grey-text text-lighten-1">Nuova Squadra</a>
          <a  class="breadcrumb green-text text-darken-3">Nome e tipologia</a>
        </div>
    </div><br><br>
      <%= render 'form', team: @team %>
  </div>
</div>
