<div class="container">
  <div class="row">
    <h4>Aggiungi un giocatore</h4>
  <div class="col s12">
  <%= form_for @team, :url => {:action => "invite"},:method => :post  do |f| %>
  <div class="input-field chips chips-container autocomplete-field col s12">
    <!--label for="autocomplete-input">Autocomplete</label>
    <i class="material-icons prefix">textsms</i-->
    <input type="text" id="autocomplete-input" class="autocompletex" autocomplete="off">
  </div><br>
  <%= f.submit "Spedisci inviti",class: "disabled btn btn-primary"%>
  <%end%>
  </div>
</div>
</div>
<div class="container">
</div>

<style>
.chips .input{
  width: 100% !important;
}
.chips{
  border:none;
}
.chip{
}
</style>
