<div class="grey lighten-1" >
  <div style="padding:1em 0 1em 0">
    <div class="row show-on-medium-and-up hide-on-small-only valign-wrapper" style="margin:0px;height:100%">
      <div class="col offset-s2 s2 ">
        <% if @team.avatar.present?%>
        <%= image_tag @team.avatar, :class =>"right circle avatar responsive-img",:style=>"max-height:120px;max-width:120px;margin:1em; " %>
        <% else %>
        <% if @team.remote_avatar_url != nil%>
        <%= image_tag @team.remote_avatar_url, :class =>"right circle avatar responsive-img",:style=>"max-height:120px;max-width:120px;margin:1em; " %>
        <% end %>
        <% end %>
      </div>

      <div class="col s6 show-on-medium-and-up" style="margin:0px">
        <div class="row valign-wrapper">
          <div class="col s6">
            <h6><a class="white-text" href="<%=user_path(@team)%>"><%=@team.name%></a></h6>
          </div>
          <div class="col s6">
              <% if current_user && current_user.has_role?(:manager, @team)%>
              <a href="<%= edit_team_path(@team) %>"class="waves-effect waves-light btn-small white  green-text text-darken-3"><i class=" material-icons left">settings</i>Impostazioni</a>
              <% else %>
              <%end%>
          </div>
        </div>
        <div class="row valign-wrapper">
          <div class="col s6">

          <span style="margin:0" class="white-text">Partite:<p style="font-weight: bold"><%=@team.matches.count%></p></span>
          </div>
          <div class="col s6">
            <%if @team.calcetto %>
            <div class="chip green darken-3 white-text">
              Calcetto
            </div>
            <% end %>
            <%if @team.calciotto %>
            <div class="chip green darken-3 white-text">
              Calciotto
            </div>
            <% end %>
            <%if !@team.calciotto && !@team.calcetto %>
            <div class="chip">
              Senza tipo
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row show-on-small hide-on-med-and-up" style="margin:0;padding-bottom:1em;">
    <div class="col s4">
      <div class="row" style="margin:0">
        <div class="s12 center-align"><span class="white-text">partite:</span></div>
        <div class="s12 center-align"><h4 style="margin:0" class="white-text"><%=@team.matches.count%></h4></div>
      </div>
    </div>
    <div class="col s4 center-align">
      <% if @team.avatar.present?%>
      <%= image_tag @team.avatar, :class =>"circle avatar responsive-img",:style=>"width:64px;height:64px" %>
      <% else %>
      <% if @team.remote_avatar_url != nil%>
      <%= image_tag @team.remote_avatar_url, :class =>"circle avatar responsive-img",:style=>"width:64px;height:64px" %>
      <% end %>
      <% end %>
      <!--img src="https://pbs.twimg.com/profile_images/1011320337/Muppets-4624932-Funny-Cartoons.jpg" alt="" style="margin:1em" class="circle responsive-img"><br-->
      <h6 class="white-text"><%=@team.name%></h6>
      <% if current_user && current_user.has_role?(:manager,@team)%>
      <a href="<%= edit_team_path(@team)%>"class="waves-effect waves-light btn-small white  green-text text-darken-3"><i class=" material-icons">settings</i></a>
      <% end %>
    </div>
    <div class="col s4">
      <div class="row" style="margin:0">
        <div class="s12 center-align"><span class="white-text">membri:</span></div>
        <div class="s12 center-align"><h4 style="margin:0" class="white-text"><%=@team.users.count%></h4></div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row" style="padding-top:1em">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title green-text text-darken-3">Formazione</span>
          <div class="collection">
            <% @team.users.each do |user| %>
            <div class="collection-item avatar">
              <% if user.avatar.present?%>
              <%= image_tag user.avatar, :class =>"circle avatar" %>
              <% else %>
              <% if user.remote_avatar_url != nil%>
              <%= image_tag user.remote_avatar_url, :class =>"circle avatar " %>
              <% end %>
              <% end %>
              <span class="title"><a href="<%= user_path(user)%>"><%= user.name%></a></span>
              <p><%= user.email %><br>
              Ruolo preferito:
              <%if user.soccer_role.to_i == 0%>
              Universale
              <%elsif user.soccer_role.to_i == 1%>
              Portiere
              <%elsif user.soccer_role.to_i == 2%>
              Difensore
              <%elsif user.soccer_role.to_i == 3%>
              Ala
              <%elsif user.soccer_role.to_i == 4%>
              Pivot
              <%else%>
              Nessun Ruolo
              <%end%>
            </p>
            </div>
            <%end%>
          </div>
        </div>
        <div class="card-action">
          <% if Notification.where(recipient: current_user, notifiable: @team, action: "invited").present? && !@team.users.where(id: current_user.id).present?%>
          <%= form_tag(add_team_player_path(@team), :method => 'post') do %>
            <%= submit_tag "Accetta invito", class: "btn white-text", style: "margin-top:1em" do %>
            <i class="material-icons left">
            <%end%>
          <% end%>
          <%end%>

          <%if current_user && current_user.has_role?(:manager, @team)%>
          <a style="color:white" href="<%=edit_members_roles_path(@team)%>"class=" waves-effect waves-light btn-flat"><i class="material-icons left">edit</i>Modifica Ruoli</a>
          <a href="<%=select_new_players_path(@team)%>" class="btn-flat  waves-effect waves-light"><i class="material-icons left">add</i>Invita Giocatore</a>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>Formazione</h4>
    <ul class="collection">
      <% @team.users.each do |user| %>
      <li class="collection-item avatar">
      <img src="<%= user.avatar%>" alt="" class="circle">
      <span class="title">Title</span>
      <p><%= user.email %><br>
         Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
      <% end %>
    </ul>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Chiudi</a>
  </div>
</div>
