<div class="container">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<div class="card">
<div class="card-content">
<h3 style="margin-top:0">Sign up</h3><br>

  <%if resource.errors[:name].present? %>
  <div class="input-field">
  <%= f.text_field :name, autofocus: true, autocomplete: "name", id: "icon_prefix",class:"validate invalid"%>
    <label for="icon_prefix" class="active green-text text-darken-2">Nome</label>
    <span class="helper-text" data-error="nome <%=resource.errors[:name].to_s.delete('[""]')%>" data-success="riprova">Helper text</span>
  </div>
  <%else%>
  <div class="input-field">
  <%= f.text_field :name, autofocus: true, autocomplete: "name", id: "name"%>
    <label  for="name" class="active green-text text-darken-2">Nome</label>
  </div>
  <%end%>

  <%if resource.errors[:email].present? %>
  <div class="input-field">
  <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "email",class:"validate invalid"%>
    <label for="email" class="active green-text text-darken-2">Email</label>
    <span class="helper-text" data-error="email <%=resource.errors[:email].to_s.delete('[""]')%>" data-success="riprova">Helper text</span>
  </div>
  <%else%>
  <div class="input-field">
  <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "icon_prefix"%>
    <label  for="icon_prefix" class="active green-text text-darken-2">Email</label>
  </div>
  <%end%>


  <div class="input-field">
    <% if current_user && current_user.avatar.url.present? %>
     <%= image_tag(current_user.avatar.url)%>
     <%= f.label :remove_avatar do %>
      <%= f.check_box :remove_avatar %>
     <% end %>
     <%= image_tag(current_user.avatar.url)%>
    <% end %>
    <div class="file-field input-field">
      <div class="btn green darken-3">Avatar
        <i class="material-icons right">cloud_upload</i>
        <%= f.file_field :avatar%>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
    <!--%= f.hidden_field :avatar_cache%-->
    </div>


  <div class="input-field">
    <%= f.label :password, for: "password",class:"active"%>
    <% if @minimum_password_length %>
    <% end %>
    <%= f.password_field :password, autocomplete: "off",placeholder: @minimum_password_length.to_s + " characters minimum",id:"password" %>
  </div>

  <div class="input-field">
    <%= f.label :password_confirmation, for: "password-confirmation",class:"active"%>
    <%if resource.errors[:password_confirmation].present? %>
    <%= f.password_field :password_confirmation, placeholder: @minimum_password_length.to_s + " characters minimum",id:"password-confirmation", autocomplete: "off",class:"validate invalid"%>
    <span class="helper-text" data-error="password <%=resource.errors[:password_confirmation].to_s.delete('[""]')%>" data-success="riprova">Helper text</span>
    <%else%>
    <%= f.password_field :password_confirmation, placeholder: @minimum_password_length.to_s + " characters minimum",id:"password-confirmation", autocomplete: "off"%>
    <%end%>
  </div>

</div>
<div class="card-action">
  <%= link_to :back, :class=>"white-text green darken-3 btn-flat btn",style:"color:white !important" do%><%=:back%><i class="material-icons left">chevron_left</i><%end%>
  <%= f.submit "Sign up", :class=>"btn-flat right white-text green darken-3"%>
</div>
</div>
<% end %>
<!--%= render "devise/shared/links" %-->
</div>
