<%= form_with(model: free_match, local: true, html: { id: "free_match_form" }) do |form| %>
  <% if free_match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(free_match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% free_match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :date %>
  <%= form.hidden_field :latitude %>
  <%= form.hidden_field :longitude %>
  <% if @free_march_users.present? && @free_march_users.size > 0 %>
  <% @free_march_users.each do |user| %>
  <input type="hidden" name="player_to_add[]" value"<%=user.id%>"%>
  <% end %>
  <% end %>


      <div class="row">
        <div class="section col s12 m6">
          <h5>Seleziona un nome</h5><br>
          <div class="input-field">
          <%= form.label :name %><br />
          <%= form.text_field :name, autocomplete: "off" %>
        </div>
        </div>
        <div class="section col s12 m6">
          <h5>Seleziona data e ora</h5><br>
            <div class="input-field row center-align">
              <div class="col s6">
                <a style="margin: 0.2em" class= "btn waves-effect waves-light green darken-2" id="date_input">Data
                  <i class="material-icons right">date_range</i>
                </a>
              </div>
              <div class="col s6">
                <a style="margin: 0.2em" class=" btn waves-effect waves-light green darken-2" id="time_input">Orario
                  <i class="material-icons right">access_time</i>
                </a>
              </div>
            </div>
        </div>
      </div>

    <h5>Seleziona un luogo</h5>
    <div class="input-field">
        <input id="pac-input" class="controls" type="text" placeholder="Indirizzo" >
        <div id="map" style="height:300px;margin-top:2em"></div>
    </div>
    <div class="row">
      <h5>Aggiungi altri giocatori</h5>
      <div class="col s12">
        <div class="row">
          <div class="chips">
            <% if @free_march_users.present? %>
            <% @free_march_users.each do |user| %>
            <div class="chip">
              <% if user && user.avatar.present?%>
              <%= image_tag user.avatar, :class =>"circle avatar", :alt=>"Contact Person"%>
              <% else %>
              <% if user && user.remote_avatar_url != nil%>
              <%= image_tag user.remote_avatar_url, :class =>"circle avatar", :alt=>"Contact Person"%>
              <% end %>
              <% end %>
              <%= user.email%>
            </div>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <div class="actions">
    <!--%= form.submit %-->
    <%= button_tag(type: 'submit', class: "green darken-3 btn waves-effect waves-light right",name: 'action', disabled: true) do %>
      <i class="fas fa-futbol" ></i> Salva
    <% end %>
    <%= link_to free_matches_path, class: "left btn green darken-2 waves-effect waves-light btn-primary" do %>
    Indietro<i class="left material-icons">chevron_left</i>
    <%end%>
    <br>
  </div>
  <script>
        // This example adds a search box to a map, using the Google Place Autocomplete
        // feature. People can enter geographical searches. The search box will return a
        // pick list containing a mix of places and predicted search terms.

        // This example requires the Places library. Include the libraries=places
        // parameter when you first load the API. For example:
        // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

        //document.addEventListener("turbolinks:load", function() {
        formFreeMatch();
      </script>
<% end %>
<script>


  document.addEventListener('turbolinks:before-visit', function() {
    elem2 = document.querySelector('.chips');
    instance2 = M.Chips.getInstance(elem2);
    if (instance2){
      instance2.destroy();
    }
  });

  document.addEventListener('turbolinks:load', function() {
    var elem = document.querySelector('.chips');
    var options = {
      autocompleteOptions:{

      data: {
        <% @users_to_invite.each do |user,index| %>
        <% if user.avatar.present?%>
        '<%= user.email %>':'<%= user.avatar %>',
        <% elsif %>
        <%if user.remote_avatar_url != nil%>
        '<%= user.email %>':'<%=user.remote_avatar_url%>',
        <%end%>
        <%end%>
        <%end%>
        },
        limit: Infinity,
        minLength: 1
      },
        placeholder: 'Cerca un utente',
        secondaryPlaceholder: '+1?',
        onChipDelete: function(elem){
          var index = $(elem[0].M_Chips.$chips).size();
          if(index == 0){
            $('button[name="action"]').disabled = true;
            $('button[name="action"]').prop('disabled', true);
          }
        },
        onChipAdd: function(elem,x){
          var index = $(elem[0].M_Chips.$chips).size();
          $(elem[0].M_Chips.$chips[index - 1]);
          //console.log($(elem[0].M_Chips));
          $('<input>').attr({
            type: 'hidden',
            name: 'player_to_add[]',
            value: elem[0].M_Chips.chipsData[index - 1].tag
          }).appendTo('form#free_match_form');
          if($('input[name="free_match[latitude]"]').val())
            if($('input[name="free_match[date]"]').val()) {
                $('button[name="action"]').disabled = false;
                $('button[name="action"]').prop('disabled', false);
                }
              }
    };
    $('input[name="team[name]"]').attr("autocomplete","off");
    var instances = M.Chips.init(elem, options);
    var instance = M.Chips.getInstance(elem);
    //console.log(instance);
  });
</script>
<style>
  .chips .input{
    width: 100% !important;
  }
  .chips input::placeholder{
    color:black;
    opacity: 0.5; /* Firefox */
    font-weight: 400;
  }
  .chips{
    border:none;
  }
  .chip{
  }
</style>
