<div class="container">
  <div class=" card section">
    <div class="card-header" style="margin-top:1em">
        <div class="col s12">
          <a  class="breadcrumb grey-text text-lighten-1">Nuova Amichevole</a>
          <a  class="breadcrumb green-text text-darken-3">Organizzazione</a>
        </div>
    </div>
    <div class="card-content"><br>
      <%= render 'form', free_match: @free_match %>
    </div>
  </div>
</div>
