
<div class="row">
  <div class="container">
    <br>
    <div class="card">
      <div class="card-header row valign-wrapper" style="margin:0;padding:0;height:100%">
        <div class="col s1 row" style="margin:0;padding:0">
          <div class="col s12" style="padding:0;margin:1em">
            <h6 class="center-align green-text text-darken-3"style="margin:0"><%=@free_match.date.strftime("%b").upcase%></h6>
            <h5 class="center-align black-text"style="margin:0"><%=@free_match.date.strftime("%d")%></h5>
          </div>
        </div>
        <div class="col s11 ">
          <div class="left-align">
            <h5>
              <%= @free_match.name %>
            </h5>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="section" style="padding:0 1em 0 1em">
        <p><i class="material-icons left">access_time</i><%=@free_match.date.strftime("%A %d/%B/%y - %H:%M")%></p>
        <p><i class="material-icons left">place</i><p class="address">Luogo con utilizzo Google Places API</p></p>
      </div>
      <!--div class="row">
        <div class="section">
        DESCRIZIONE IN FUTURO??
        </div>
      </div-->
      <div class="card-image">
        <div id="map" style="height:200px"></div>
      </div>
      <ul class="card-content collection" style="margin:0;padding:0">
        <% @free_match.users.each do |user| %>
        <li class="collection-item avatar">
          <%if user.has_role?(:manager, @free_match) %>
          <span class="new badge " data-badge-caption="manager"></span>
          <% elsif user.has_role?(:member, @free_match) %>
          <span class="new badge" data-badge-caption="membro"></span>
          <% end %>
          <% if user.avatar.present?%>
          <%= image_tag user.avatar, :class =>"circle avatar" %>
          <% else %>
          <% if user.remote_avatar_url != nil%>
          <%= image_tag user.remote_avatar_url, :class =>"circle avatar " %>
          <% end %>
          <% end %>
          <span class="title"><%= link_to user.name, user_path(user)%></span>
          <p><%= user.email %><br>
          Ruolo preferito:
          <%if user.soccer_role == 0%>
          Universale
          <%elsif user.soccer_role == 1%>
          Portiere
          <%elsif user.soccer_role == 2%>
          Difensore
          <%elsif user.soccer_role == 3%>
          Ala
          <%elsif user.soccer_role == 4%>
          Pivot
          <%else%>
          Nessun Ruolo
          <%end%>
          </p>
        </li>
        <% end %>
      </ul>
      <% if Notification.where(notifiable: @free_match, action:"requested").empty? == false %>
      <ul class="card-content collection with-header" style="margin:0;padding:0">
        <% Notification.where(notifiable: @free_match, action:"requested").each do |notification| %>
        <% user = notification.actor %>
        <li class="collection-header"><h6>Richieste</h6></li>
        <li class="collection-item avatar">
          <% if user.avatar.present?%>
          <%= image_tag user.avatar, :class =>"circle avatar" %>
          <% else %>
          <% if user.remote_avatar_url != nil%>
          <%= image_tag user.remote_avatar_url, :class =>"circle avatar " %>
          <% end %>
          <% end %>
          <span class="title"><%= link_to user.name, user_path(user)%></span>
          <p><%= user.email %><br>
          Ruolo preferito:
          <%if user.soccer_role == 0%>
          Universale
          <%elsif user.soccer_role == 1%>
          Portiere
          <%elsif user.soccer_role == 2%>
          Difensore
          <%elsif user.soccer_role == 3%>
          Ala
          <%elsif user.soccer_role == 4%>
          Pivot
          <%else%>
          Nessun Ruolo
          <%end%>
          </p>
          <%= link_to accept_free_match_request_path(@free_match,user), :class => "secondary-content",method: "post" do%>
          <i class="material-icons">add</i>
          <%end%>
        </li>
        <%end%>
      </ul>
      <%end%>
      <% if (Notification.where(recipient: current_user, notifiable: @free_match, action: "invited").present? && !@free_match.users.where(id: current_user.id).present? || current_user && current_user.has_role?(:manager, @free_match)) && !@free_match.date.past?%>
      <div class="card-action">
        <% if Notification.where(recipient: current_user, notifiable: @free_match, action: "invited").present? && !@free_match.users.where(id: current_user.id).present?%>
        <%= form_tag(add_free_match_player_path(@free_match), :method => 'post') do %>
          <%= submit_tag "Accetta invito", class: "btn-flat green draken-2 white-text" do %>
          <i class="material-icons left">add</i>
          <%end%>
        <% end%>
        <%end%>
        <% if current_user && current_user.has_role?(:manager, @free_match)%>
          <% if !@free_match.date.past? %>
          <%= link_to 'Modifica', edit_free_match_path(@free_match) , class: ''%>
          <% end %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<script>

  var marker;
  var map;
  function initMap() {
    var point = {lat: <%= @free_match.latitude%>, lng:<%= @free_match.longitude%>, zoom: 17};
    var latlng = new google.maps.LatLng(point.lat, point.lng);
    map = new google.maps.Map($('#map')[0], {
        zoom: point.zoom,
        center: latlng,
        styles: [
            {
                "featureType": "landscape",
                "elementType": "all",
                "stylers": [
                    {
                        "hue": "#FFA800"
                    },
                    {
                        "gamma": 1
                    }
                ]
            },
            {
                "featureType": "landscape.man_made",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "on"
                    }
                ]
            },
            {
                "featureType": "landscape.man_made",
                "elementType": "geometry",
                "stylers": [
                    {
                        "visibility": "on"
                    }
                ]
            },
            {
                "featureType": "poi",
                "elementType": "all",
                "stylers": [
                    {
                        "hue": "#679714"
                    },
                    {
                        "saturation": 33.4
                    },
                    {
                        "lightness": -25.4
                    },
                    {
                        "gamma": 1
                    }
                ]
            },
            {
                "featureType": "poi.attraction",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "poi.business",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "poi.government",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "poi.medical",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "poi.park",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "on"
                    }
                ]
            },
            {
                "featureType": "poi.place_of_worship",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "poi.school",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "poi.sports_complex",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "on"
                    }
                ]
            },
            {
                "featureType": "road",
                "elementType": "labels.text",
                "stylers": [
                    {
                        "lightness": "65"
                    }
                ]
            },
            {
                "featureType": "road.highway",
                "elementType": "all",
                "stylers": [
                    {
                        "hue": "#53FF00"
                    },
                    {
                        "saturation": -73
                    },
                    {
                        "lightness": 40
                    },
                    {
                        "gamma": 1
                    }
                ]
            },
            {
                "featureType": "road.arterial",
                "elementType": "all",
                "stylers": [
                    {
                        "hue": "#FBFF00"
                    },
                    {
                        "gamma": 1
                    }
                ]
            },
            {
                "featureType": "road.local",
                "elementType": "all",
                "stylers": [
                    {
                        "hue": "#00FFFD"
                    },
                    {
                        "lightness": 30
                    },
                    {
                        "gamma": 1
                    }
                ]
            },
            {
                "featureType": "transit.station",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "water",
                "elementType": "all",
                "stylers": [
                    {
                        "hue": "#00BFFF"
                    },
                    {
                        "saturation": 6
                    },
                    {
                        "lightness": 8
                    },
                    {
                        "gamma": 1
                    }
                ]
            }
        ]
    });
    geocoder = new google.maps.Geocoder();
    geocoder.geocode({
          'latLng': latlng
      }, function (results, status) {
          if (status ==
              google.maps.GeocoderStatus.OK) {
              if (results[1]) {
                  $('p.address').html(''+results[1].formatted_address);
              } else {
                  console.log('No results found');
              }
          } else {
                console.log('Geocoder failed due to: ' + status);
          }
      });
    marker= new google.maps.Marker({
        position: latlng,
        map: map
    });
  };

  if(window.google){
    initMap();
  } else{
    $.ajax('https://maps.googleapis.com/maps/api/js?key=AIzaSyCWh_byq1Enlj6gXyUks9uPvAMzscT4vTU&callback=initMap', {
      crossDomain: true,
      dataType: 'script'
    });
  }
</script>
