<%= form_with(url: { action: "update_soccer_role" }, method: :post, model: user, local: true) do |form| %>
<div class="input-field col s12">
    <select name="soccer_role">
      <option value="" disabled selected>Scegli il tuo ruolo..</option>
      <option value="0">Universale</option>
      <option value="1">Portiere</option>
      <option value="2">Difensore</option>
      <option value="3">Ala</option>
      <option value="4">Pivot</option>
    </select>
  </div>
  <div class="actions">
    <!--%= form.submit %-->
    <%= link_to root_path, class: "darken-3 left btn waves-effect waves-light" do %>
    <%=t(:skip)%><i class="material-icons left">skip_next</i>
    <%end%>
    <%= button_tag(type: 'submit', class: "green right darken-3 btn waves-effect waves-light",name: 'action') do %>
      <i class="icon-soccer-court"></i> Procedi
    <% end %>
  </div>
<% end %>
<script>
var elems,instances;
  document.addEventListener('turbolinks:load', function() {

    elems = document.querySelectorAll('select');
    instances = M.FormSelect.init(elems, {});

  });
  document.addEventListener('turbolinks:before-cache', function() {
    elems = document.querySelector('select');

    if(elems){
      instances = M.FormSelect.getInstance(elems);
      if(instances){
        instances.destroy();
      }
    }

  });

</script>
