<div class="row" style="margin-bottom:0;padding-top:1em">
  <div class="col s12 offset-m2 m8 offset-l4 l4 center-align grey lighten-2" style="padding-bottom:2em">
    <h4>Scegli il tuo ruolo preferito!</h4>
    <%= render 'form_set_soccer_role', user: @user %>
  </div>
</div>
