<div class="main-content row grey lighten-2">
  <div id="test1" class="col s12 offset-m1 m10 offset-l3 l6">
    <!-- Tap Target Structure -->
    <% if user_signed_in? && current_page?(root_path) %>
    <div class="tap-target" data-target="calci8_button">
      <div class="tap-target-content">
        <h5 class="white-text">Clicca quì</h5>
        <p class="white-text">Bottone Multifunzione</p>
      </div>
    </div>
    <script>

    </script>
    <%end%>
    <div class="container">
      <ul id="" class="collection">
        <% if @collection.empty? == false%>
        <% id = 0%>
          <% @collection.each do |activity| %>
            <%if activity.object.class.name == 'Match'%>
            <%= render partial: "items/activity_match", locals: {match:  activity.object, idmap: id, action:activity.action, date:activity.created_at,actor:activity.actor}%>
            <% id = id+1%>
            <%elsif activity.object.class.name == 'FreeMatch'%>
            <%= render partial: "items/activity_free_match", locals: {free_match:  activity.object, idmap: id, action:activity.action, date:activity.created_at,actor:activity.actor}%>
            <% id = id+1%>
            <%elsif activity.object.class.name == 'Team'%>
            <%= render partial: "items/activity_team", locals: {team:  activity.object, idmap: id, action:activity.action, date:activity.created_at,actor:activity.actor}%>
            <%else%>
            <%end%>
          <% end %>
        <% else %>
        <li class="noselect collection-header center-align"><h2 class="grey-text text-lighten-1">Fa qualcosa!</h2></li>
        <li class="noselect center-align"><i class="grey-text text-lighten-1 large material-icons">sentiment_very_satisfied</i></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<script>

  if(window.google){
    initMap();
  } else{
    $.ajax('https://maps.googleapis.com/maps/api/js?key=AIzaSyCWh_byq1Enlj6gXyUks9uPvAMzscT4vTU&callback=initMap&libraries=places', {
      crossDomain: true,
      dataType: 'script'
    });
  }



  function initMap() {
    var numMatchItems = $('.mi_item').length;
    var markers = [];
    var maps = [numMatchItems];
    var maps2 = [];
    $('.mi_item').each(function(i, obj) {
      var point = {lat: $(obj).data("la"), lng: $(obj).data("lo"), zoom: 10};
      var latlng = new google.maps.LatLng(point.lat, point.lng);
      geocoder = new google.maps.Geocoder();
      geocoder.geocode({
            'latLng': latlng
        }, function (results, status) {
            if (status ==
                google.maps.GeocoderStatus.OK) {
                if (results[1]) {
                    $(obj).find('p.address').html(''+results[1].formatted_address);
                } else {
                      console.log('No results found');
                }
            } else {
                  console.log('Geocoder failed due to: ' + status);
            }
        });
      maps[i] = new google.maps.Map(document.getElementById("map-"+i), {
          zoom: point.zoom,
          center: latlng,
          styles: [
              {
                  "featureType": "landscape",
                  "elementType": "all",
                  "stylers": [
                      {
                          "hue": "#FFA800"
                      },
                      {
                          "gamma": 1
                      }
                  ]
              },
              {
                  "featureType": "landscape.man_made",
                  "elementType": "all",
                  "stylers": [
                      {
                          "visibility": "on"
                      }
                  ]
              },
              {
                  "featureType": "landscape.man_made",
                  "elementType": "geometry",
                  "stylers": [
                      {
                          "visibility": "on"
                      }
                  ]
              },
              {
                  "featureType": "poi",
                  "elementType": "all",
                  "stylers": [
                      {
                          "hue": "#679714"
                      },
                      {
                          "saturation": 33.4
                      },
                      {
                          "lightness": -25.4
                      },
                      {
                          "gamma": 1
                      }
                  ]
              },
              {
                  "featureType": "poi.attraction",
                  "elementType": "all",
                  "stylers": [
                      {
                          "visibility": "off"
                      }
                  ]
              },
              {
                  "featureType": "poi.business",
                  "elementType": "all",
                  "stylers": [
                      {
                          "visibility": "off"
                      }
                  ]
              },
              {
                  "featureType": "poi.government",
                  "elementType": "all",
                  "stylers": [
                      {
                          "visibility": "off"
                      }
                  ]
              },
              {
                  "featureType": "poi.medical",
                  "elementType": "all",
                  "stylers": [
                      {
                          "visibility": "off"
                      }
                  ]
              },
              {
                  "featureType": "poi.park",
                  "elementType": "all",
                  "stylers": [
                      {
                          "visibility": "on"
                      }
                  ]
              },
              {
                  "featureType": "poi.place_of_worship",
                  "elementType": "all",
                  "stylers": [
                      {
                          "visibility": "off"
                      }
                  ]
              },
              {
                  "featureType": "poi.school",
                  "elementType": "all",
                  "stylers": [
                      {
                          "visibility": "off"
                      }
                  ]
              },
              {
                  "featureType": "poi.sports_complex",
                  "elementType": "all",
                  "stylers": [
                      {
                          "visibility": "on"
                      }
                  ]
              },
              {
                  "featureType": "road",
                  "elementType": "labels.text",
                  "stylers": [
                      {
                          "lightness": "65"
                      }
                  ]
              },
              {
                  "featureType": "road.highway",
                  "elementType": "all",
                  "stylers": [
                      {
                          "hue": "#53FF00"
                      },
                      {
                          "saturation": -73
                      },
                      {
                          "lightness": 40
                      },
                      {
                          "gamma": 1
                      }
                  ]
              },
              {
                  "featureType": "road.arterial",
                  "elementType": "all",
                  "stylers": [
                      {
                          "hue": "#FBFF00"
                      },
                      {
                          "gamma": 1
                      }
                  ]
              },
              {
                  "featureType": "road.local",
                  "elementType": "all",
                  "stylers": [
                      {
                          "hue": "#00FFFD"
                      },
                      {
                          "lightness": 30
                      },
                      {
                          "gamma": 1
                      }
                  ]
              },
              {
                  "featureType": "transit.station",
                  "elementType": "all",
                  "stylers": [
                      {
                          "visibility": "off"
                      }
                  ]
              },
              {
                  "featureType": "water",
                  "elementType": "all",
                  "stylers": [
                      {
                          "hue": "#00BFFF"
                      },
                      {
                          "saturation": 6
                      },
                      {
                          "lightness": 8
                      },
                      {
                          "gamma": 1
                      }
                  ]
              }
              ]
              });
      markers[i] = new google.maps.Marker({
          position: latlng,
          map: maps[i]
      });
    });

  };

</script>
