<div class="valign-wrapper red darken-2" style="width:100%;position:absolute;height:100%">
  <div class="row center-align" style="width:100%">
    <h2 class="col s12 white-text" style="font-family: 'Pacifico', cursive;font-size:2em">42</h2>
    <i class=" col s12 large  icon-soccer-court" style="color: white !important"></i>
  </div>
</div>
