<div class="container">
  <div class="card">
    <div class="card-content">
      <h2 style="margin-top:0">Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="input-field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="input-field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <!--% if devise_mapping.rememberable? -%-->
          <!--div class="input-field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div-->
        <!--% end -%-->

        <div class="actions">
          <%= f.submit "Log in", :class=>"btn green darken-3" do %>
          <i class="material-icons right">send</i>
          <%end%>
          </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
