<div class="row">
    <div class="col s12" style="padding:0">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#people">Persone</a></li>
        <li class="tab col s3"><a href="#teams">Squadre</a></li>
        <li class="tab col s3"><a href="#free_matches">Amichevoli</a></li>
        <!-- add "disabled" class to disable the tab -->
      </ul>
    </div>
    <div id="people" class="col s12 offset-m3 m6">
      <ul id="" class="collection">
        <% if @users.empty? == false%>
        <div class="collection-header center-align"><h5 class="grey-text text-lighten-1">Risultati ricerca</h5></div>
          <% @users.each do |item| %>
            <!--%if item.class.name == 'User'%-->
            <%= render partial: "items/user", locals: {user:  item}%>
            <!--% end %-->
          <% end %>
        <% else %>
        <div class="noselect collection-header center-align"><h2 class="grey-text text-lighten-1">Nessun risultato</h2></div>
        <div class="noselect center-align"><i class="grey-text text-lighten-1 large material-icons">sentiment_very_dissatisfied</i></div>
        <% end %>
      </ul>
      <%= render partial: "pagination/pagination", locals: {model: "user",q: @q,page:@user_page,max_pages:@users.count/@per_page}%>
    </div>
    <div id="teams" class="col s12 offset-m3 m6">
      <ul id="" class="collection">
        <% if @teams.empty? == false%>
        <div class="collection-header center-align"><h5 class="grey-text text-lighten-1">Risultati ricerca</h5></div>
          <% @teams.each do |item| %>
            <!--%if item.class.name == 'Team'%-->
            <%= render partial: "items/team", locals: {team:  item}%>
            <!--%end%-->
          <% end %>
        <% else %>
        <div class="noselect collection-header center-align"><h2 class="grey-text text-lighten-1">Nessun risultato</h2></div>
        <div class="noselect center-align"><i class="grey-text text-lighten-1 large material-icons">sentiment_very_dissatisfied</i></div>
        <% end %>
        <%= render partial: "pagination/pagination", locals: {model: "team",q: @q,page:@team_page,max_pages:@teams.count/@per_page}%>
    </div>
    <div id="free_matches" class="col s12 offset-m3 m6">
      <ul id="" class="collection">
        <% if @free_matches.empty? == false%>
        <div class="collection-header center-align"><h5 class="grey-text text-lighten-1">Risultati ricerca</h5></div>
        <% id = 0%>
          <% @free_matches.each do |item| %>
            <!--%if item.class.name == 'FreeMatch'%-->
            <%= render partial: "items/free_match", locals: {idmap: id,free_match:  item}%>
            <% id = id+1%>
            <!--%end%-->
          <% end %>
        <% else %>
        <div class="noselect collection-header center-align"><h2 class="grey-text text-lighten-1">Nessun risultato</h2></div>
        <div class="noselect center-align"><i class="grey-text text-lighten-1 large material-icons">sentiment_very_dissatisfied</i></div>
        <% end %>
        <%= render partial: "pagination/pagination", locals: {model: "free_match",q: @q,page:@free_match_page,max_pages:@free_matches.count/@per_page}%>
    </div>
  </div>
  <script>

    if(window.google){
      initMap();
    } else{
      $.ajax('https://maps.googleapis.com/maps/api/js?key=AIzaSyCWh_byq1Enlj6gXyUks9uPvAMzscT4vTU&callback=initMap&libraries=places', {
        crossDomain: true,
        dataType: 'script'
      });
    }



    function initMap() {
      var numMatchItems = $('.mi_item').length;
      var markers = [];
      var maps = [numMatchItems];
      var maps2 = [];
      $('.mi_item').each(function(i, obj) {
        var point = {lat: $(obj).data("la"), lng: $(obj).data("lo"), zoom: 10};
        var latlng = new google.maps.LatLng(point.lat, point.lng);
        geocoder = new google.maps.Geocoder();
        geocoder.geocode({
              'latLng': latlng
          }, function (results, status) {
              if (status ==
                  google.maps.GeocoderStatus.OK) {
                  if (results[1]) {
                      $(obj).find('p.address').html(''+results[1].formatted_address);
                  } else {
                        console.log('No results found');
                  }
              } else {
                    console.log('Geocoder failed due to: ' + status);
              }
          });
        console.log("map-"+i);
        maps[i] = new google.maps.Map(document.getElementById("map-"+i), {
            zoom: point.zoom,
            center: latlng,
            styles: [
                {
                    "featureType": "landscape",
                    "elementType": "all",
                    "stylers": [
                        {
                            "hue": "#FFA800"
                        },
                        {
                            "gamma": 1
                        }
                    ]
                },
                {
                    "featureType": "landscape.man_made",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "landscape.man_made",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "all",
                    "stylers": [
                        {
                            "hue": "#679714"
                        },
                        {
                            "saturation": 33.4
                        },
                        {
                            "lightness": -25.4
                        },
                        {
                            "gamma": 1
                        }
                    ]
                },
                {
                    "featureType": "poi.attraction",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "poi.business",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "poi.government",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "poi.medical",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "poi.place_of_worship",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "poi.school",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "poi.sports_complex",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "labels.text",
                    "stylers": [
                        {
                            "lightness": "65"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "all",
                    "stylers": [
                        {
                            "hue": "#53FF00"
                        },
                        {
                            "saturation": -73
                        },
                        {
                            "lightness": 40
                        },
                        {
                            "gamma": 1
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "all",
                    "stylers": [
                        {
                            "hue": "#FBFF00"
                        },
                        {
                            "gamma": 1
                        }
                    ]
                },
                {
                    "featureType": "road.local",
                    "elementType": "all",
                    "stylers": [
                        {
                            "hue": "#00FFFD"
                        },
                        {
                            "lightness": 30
                        },
                        {
                            "gamma": 1
                        }
                    ]
                },
                {
                    "featureType": "transit.station",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "all",
                    "stylers": [
                        {
                            "hue": "#00BFFF"
                        },
                        {
                            "saturation": 6
                        },
                        {
                            "lightness": 8
                        },
                        {
                            "gamma": 1
                        }
                    ]
                }
                ]
                });
        markers[i] = new google.maps.Marker({
            position: latlng,
            map: maps[i]
        });
      });

    };

  </script>
