<div class="card-content">
  <%= form_with(model: match, local: true) do |form| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :tipologia, :value => match.tipologia %>
  <%= form.hidden_field :date, :value => match.date%>
  <%= form.hidden_field :latitude, :value => match.latitude%>
  <%= form.hidden_field :longitude, :value => match.longitude %>
  <div class="container center-align">
    <h5>Seleziona Data e Ora</h5>
    <a class="btn waves-effect waves-light green darken-2" id="date_input">
      <%=match.date.strftime("%d/%m/%Y")%>
    </a>
    <a class="btn waves-effect waves-light green darken-2" id="time_input">
      <%=match.date.strftime("%H:%M")%>
    </a>

    <div class="input-field center-align">
        <input id="pac-input" class="controls" type="text" placeholder="Indirizzo" >
        <div id="match_map" style="height:300px;margin-top:2em"></div>
    </div>
    <h5>Seleziona le squadre</h5>
    <div class="row">
    <div class="col s5 input-field">
      <i class="icon-soccer-shoe prefix"></i>
        <input type="text" name="home" id="home-input" class="autocompletehome" value="<%=@home_team.name%>" style="text-align:center" autocomplete="off">
        <label for="home-input" class="active"style="text-align:center">Casa</label>
    </div>
    <div class="col s2"><h6>VS</h6></div>
    <div class="col s5 input-field">
        <i class="icon-soccer-shoe prefix"></i>
        <input type="text" name="host" id="host-input" class="autocompletehost" value="<%=@host_team.name%>" style="text-align:center" autocomplete="off">
        <label for="host-input" class="active" style="text-align:center">Ospite</label>
    </div>
    <div class="actions">
      <!--%= form.submit %-->


    </div>
  </div>
  </div>
  <div class="row center-align">
    <div class="col s4">
      <%= link_to root_path, class: " darken-2 btn green darken-3 waves-effect waves-light" do %>
      <%=t(:back)%><i class="material-icons left">chevron_left</i>
      <%end%>
    </div>
    <div class="col s4">
      <%= button_tag(type: 'submit', class: "green darken-3 btn waves-effect waves-light",name: 'action', disabled: false) do %>
        <i class="icon-soccer-court left "></i> Salva
      <% end %>
    </div>
    <% end %>
    <%= form_tag(match_path(@match),class:"col s4 ", :method => 'delete') do %>
    <%= button_tag(type: "submit",class: "btn red",data: { confirm: "sei sicuro di volerlo cancellare?" } ) do %>
        Cancella<i class="material-icons left">delete</i>
    <% end %>
    <% end%>
  </div>
  <script>
    document.addEventListener('turbolinks:load', function() {
    var home = {
      /*
        <%= current_user.teams.count %>
      */
      <% current_user.teams.each do |team| %>
      <% if current_user.has_role?(:manager, team) %>
      <% if team.calcetto && match.tipologia == "calcetto" %>
      '<%= team.name %>':null,
      <%elsif team.calciotto && match.tipologia == "calciotto" %>
      '<%= team.name %>':null,
      <% end %>
      <%end%>
      <%end%>
    };
    var host =  {
      <% (Team.all - current_user.teams).each do |team| %>
      <% if team.calcetto && match.tipologia == "calcetto" %>
      '<%= team.name %>':null,
      <%elsif team.calciotto && match.tipologia == "calciotto" %>
      '<%= team.name %>':null,
      <% end %>
      <%end%>
    };
    formMatchEdit(home,host);
  });
  </script>
