<div class="container">
  <div class="section card">
    <div class="card-header" style="margin-top:1em">
        <div class="col s12">
          <a  class="breadcrumb grey-text text-lighten-1">Tipologia</a>
          <a  class="breadcrumb green-text text-darken-3">Organizzazione</a>
        </div>
    </div>
    <div class="card-content"><br>
      <%= render 'form', match: @match %>
    </div>
  </div>
</div>


<!--%= link_to matches_path do %>
<%= t(:back) %><i class="material-icons left">chevron_left</i>
<%end%-->
