<li class="collection-item mi_item match_item card" data-la="<%= match.latitude%>" data-lo="<%= match.longitude %>">
  <div class="collection" style="margin:0;border-left:none;border-right:none">
  <div class="collection-item avatar">
      <% if action == "created" %>
      <% if actor != ''%>
      <% if actor.avatar.present?%>
      <%= image_tag actor.avatar, :class =>"circle avatar" %>
      <% else %>
      <% if actor.remote_avatar_url != nil%>
      <%= image_tag actor.remote_avatar_url, :class =>"circle avatar " %>
      <% end %>
      <% end %>
      <span class="title"><%= link_to actor.name, user_path(actor), :class =>"green-text text-darken-2" %> ha creato <%= link_to "una partita", match_path(match), :class =>"green-text text-darken-2"%></span>
      <p><%= date.strftime("%D")%> alle <%= date.strftime("%H:%M")%></p>
      <% else %>
      <span class="title">Ha creato <%= link_to "un match", match_path(match)%> </span>
      <p><%= date.strftime("%D")%> alle <%= date.strftime("%H:%M")%></p>
      <%end%>
      <%end%>
  </div></div>
  <div class="section" style="padding:0">
    <div class="row valign-wrapper" style="margin:0.5em;padding:0;height:100%">
      <div class="col s2 row" style="margin:0;padding:0">
        <h6 class="center-align green-text text-darken-3"style="margin:0"><%=l match.date, format:"%b".upcase%></h6>
        <h5 class="center-align black-text"style="margin:0"><%=match.date.strftime("%d")%></h5>
      </div>
      <div class="col s10 " style="padding:0">
        <div class="center-align">
          <div class="row valign-wrapper" style="margin:0">

            <% home_team = Team.with_role(:manager,match).first %>
            <% if TeamNotification.where(actor: home_team, action: "invited",notifiable: match).empty? == false && match.teams.count == 1 %>
            <% host_team = TeamNotification.where(actor: Team.with_role(:manager,match).first, action: "invited",notifiable: match).first.recipient %>
            <% end %>
            <%if match.teams.count == 2%>
            <% host_team = Team.with_role(:member,match).first %>
            <%end%>
            <div class="col s4 center-align">
              <a href="<%=team_path(home_team)%>">
                <div class="row" style="margin:0">
                  <div class="col s12">
                    <%= image_tag home_team.avatar, :class =>"circle avatar responsive-img"%>
                  </div>
                  <div class="col s12"style="padding:0">
                    <span  class="truncate"><%=home_team.name%></span>
                  </div>
                </div>
              </a>
            </div>
            <div class="col s4 center-align">
              <% if match.home_score == nil %>
              <span>VS</span>
              <% else %>
              <span><%=match.home_score%> - <%=match.host_score%></span>
              <% end %>
            </div>
            <div class="col s4 center-align">
              <a href="<%=team_path(host_team)%>">
                <div class="row" style="margin:0">
                  <div class="col s12">
                    <%= image_tag host_team.avatar, :class =>"circle avatar responsive-img" %>
                  </div>
                  <div class="col s12"style="padding:0">
                    <% if TeamNotification.where(actor: home_team, action: "invited",notifiable: match).empty? == false && match.teams.count == 1 %>
                    <span  class="truncate">???<%=host_team.name%></span>
                    <%else%>
                    <span  class="truncate"><%=host_team.name%></span>
                    <%end%>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="section" style="padding:0 1em 0 1em">
    <p><i class="material-icons left">access_time</i><%=l match.date, format:"%A %d/%B/%y - %H:%M"%></p>
    <p><i class="material-icons left">place</i><p class="address">Luogo con utilizzo Google Places API</p></p>
  </div>
    <div class="card-image">
       <div id="map-<%=idmap.to_s%>" style="height:200px"></div>
        <!--<span class="card-title black-text">Nome della partita</span>-->
       <!--a class="btn-floating halfway-fab waves-effect waves-green white">
         <i class="fas fa-futbol" style="color: black !important"></i></a-->
     </div>

      <% if current_user && current_user.has_role?(:manager, match) && match.home_score == nil%>
      <div class="card-action">
      <a class="valign-wrapper" href="<%= edit_match_path(match) %>"><i class="tiny material-icons left">edit</i>Modifica</a>
    </div>
      <%end%>
</li>
