<li style="border-left:none;border-right:none" class="collection-item mi_item free_match_item card" data-la="<%= free_match.latitude%>" data-lo="<%= free_match.longitude %>">
  <div class="collection" style="margin:0;border-left:none;border-right:none">
    <div class="collection-item avatar" >
      <% if action == "created" %>
      <% if actor != ''%>
      <% if actor.avatar.present?%>
      <%= image_tag actor.avatar, :class =>"circle avatar" %>
      <% else %>
      <% if actor.remote_avatar_url != nil%>
      <%= image_tag actor.remote_avatar_url, :class =>"circle avatar " %>
      <% end %>
      <% end %>
      <span class="title"><%= link_to actor.name, user_path(actor), :class =>"green-text text-darken-2" %> ha creato <%= link_to "un'amichevole", free_match_path(free_match), :class =>"green-text text-darken-2"%></span>
      <p><%=l  date, format: "%D"%> alle <%= date.strftime("%H:%M")%></p>
      <% else %>
      <span class="title">Ha creato <%= link_to "un match libero", free_match_path(free_match)%> </span>
      <p><%= l date, format: "%D"%> alle <%= date.strftime("%H:%M")%></p>
      <%end%>
      <%end%>
    </div>
  </div>
  <div class="section" style="padding:0">
    <div class="row valign-wrapper" style="margin:0;padding:0;height:100%">
      <div class="col s3 row" style="margin:0;padding:0">
        <div class="col s12" style="padding:0;margin:1em">
          <h6 class="center-align green-text text-darken-3"style="margin:0"><%=(l free_match.date, format:"%b").upcase%></h6>
          <h5 class="center-align black-text"style="margin:0"><%=l free_match.date, format:"%d"%></h5>
        </div>
      </div>
      <div class="col s9 ">
        <div class="center-align">
          <div>
            <%= free_match.name %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="section" style="padding:0 1em 0 1em">
    <p><i class="material-icons left">access_time</i><%=l free_match.date, format:"%A %d %B %Y - %H:%M"%></p>
    <p><i class="material-icons left">people</i>Partecipanti: <%=free_match.users.count%></p>
    <p><i class="material-icons left">place</i><p class="address">Luogo con utilizzo Google Places API</p></p>
  </div>
  <div class="card-image">
    <div id="map-<%=idmap.to_s%>" style="height:200px"></div>
  </div>
  <!--div class="card-content row">

  </div-->
  <div class="card-action">
    <% if current_user && free_match.users.include?(current_user) == false %>
    <%= link_to "Partecipa", request_free_match_path(free_match), method: :post %>
    <% end %>
  </div>
</li>
