<li class="collection-item avatar card " style="margin-top: 1em !important;margin-bottom: 1em !important;">
    <% if action == "created" %>
    <% if actor != ''%>
    <% if actor.avatar.present?%>
    <%= image_tag actor.avatar, :class =>"circle avatar" %>
    <% else %>
    <% if actor.remote_avatar_url != nil%>
    <%= image_tag actor.remote_avatar_url, :class =>"circle avatar " %>
    <% end %>
    <% end %>
    <span class="title"><%= link_to actor.name, user_path(actor), :class =>"green-text text-darken-2" %> ha creato <%= link_to team.name, team_path(team), :class =>"green-text text-darken-2"%></span>
    <p><%= date.strftime("%D")%> alle <%= date.strftime("%H:%M")%></p>
    <% else %>
    <span class="title">Ha creato <%= link_to team.name, team_path(team)%> </span>
    <p><%= date.strftime("%D")%> alle <%= date.strftime("%H:%M")%></p>
    <%end%>
    <%end%>
</li>
