<li class="collection-item mi_item free_match_item card" data-la="<%= free_match.latitude%>" data-lo="<%= free_match.longitude %>">
   <div class="card-image">
     <div id="map-<%=idmap.to_s%>" style="height:200px"></div>
      <span class="card-title black-text"><%= free_match.name%></span>
     <!--a class="btn-floating halfway-fab waves-effect waves-green white">
       <i class="fas fa-futbol" style="color: black !important"></i></a-->
   </div>
    <div class="card-content row valign-wrapper">
      <div class="col s12 m6">
        <h6 class="center-align">
          <i class="material-icons">date_range</i>
          <%= free_match.date.strftime("%D")%>
        </h6>
        <h6 class="center-align">
          <i class="material-icons">access_time</i>
          <%= free_match.date.strftime("%H")%>
        </h6>
      </div>
      <div class="col s12 m6">
      <h6 class="center-align">Partecipanti</h6>
      <h3 class="center-align"><%= free_match.users.count%></h3></div>
    </div>
    <div class="card-action">
          <a href="<%= free_match_path(free_match) %>">Vai alla partita</a>
        </div>
</li>
