/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .noselect {
   -webkit-touch-callout: none; /* iOS Safari */
     -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
         -ms-user-select: none; /* Internet Explorer/Edge */
             user-select: none; /* Non-prefixed version, currently
                                   supported by Chrome and Opera */
 }

.mi_item .section i{
  color:grey;
}

 [type="radio"]:checked + label:after,
 [type="radio"]:checked + label:after {
   background-color: #2E7D32 !important;
 }

body{
  font-family: 'Roboto', sans-serif;
}
 .breadcrumb:before {
     color: #2E7D32 !important
 }

.autocomplete-content-custom{
  margin:0; width:100%; height: auto;opacity:1;
  background-color: #fff;
    margin: 0;
    display: none;
    overflow-y: none;
    position: absolute;
    z-index: 9999;
}

@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "materialize/components/color-variables";
$primary-color: color("green", "darken-3") !default;

$secondary-color: color("green", "darken-3") !default;
@import 'materialize';
@import "font-awesome";
@import "themes/dark/green/mdDateTimePicker";

.search-bar#search, .search-bar#search_small{
  /*
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;*/
  padding-left: 3rem;
  width: calc(100% - 2.5rem);
}

input.search-bar:hover{
  background-color: color("green", "darken-4");
}

.search-bar#search:focus,.search-bar#search_small:focus{
  color:black;
}

.search-bar#search,.search-bar#search_small:focus{
  height:100%;margin: 0;border-bottom-width: 0px !important;
}

.input-field.small input.search-bar#search.small:focus,.search-bar.small#search_small:focus{
  color:black;
  position:fixed;
  left:0;top:0;
  width:100%;
  height:56px;
}

div.small{
  width:100%;
  position: absolute;
  left:0;
}

.search-bar#search.small:focus
.search-bar#search{
  color:white;
}
.input-field{
  //margin-bottom: 1rem !important;
}
.collection li.collection-item.active{
  background-color: #fff;
  color: #000;
}
.team-banner-header{
  margin-left: 90px;
  position: absolute;
  width: 100%;
  height:50px;
  margin-top :-50px;
}
.team-banner{
  height: 150px;
  overflow: hidden;
  line-height: 0px;
}
.team-banner img{
  width:100%;
}
body{
  @extend .grey, .lighten-2;
}
.card-action a{
  @extend .green-text, .text-darken-2;
}
.team-card-header{
  color:#fff !important;
}
img.team-member-icon:not:first-child{
  margin-left:-1em;
}

.matches-collection li{
  padding:0 !important;
}
li.mi_item{
  padding:0 !important;
}

.collection-item.card{
    margin-top:1em !important;
    margin-bottom:1em !important;
}

h2,h2,h3,h4,h5,h6{
  @extend .green-text, .text-darken-2;
}

/*======= Map Styling ============*/
.gmnoprint a, .gmnoprint span {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
#GMapsID div div a div img{
    display:none;
}
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

nav a:hover {
  color: color("grey", "darken-3");
  background-color: color("green", "darken-3");
}

.collection a.collection-item{
  color: black;
 }

a.brand-logo:visited{color: white;}
a{color: black;background: none;}
a:hover{color: black;background: none;}
a.btn{color:white}
#pac-input.controls{
  background-color: #FFFFFF;
}
#pac-input {

  //background-color: #fff;
  //font-family: Roboto;
  //font-size: 15px;
  color:black;
  font-weight: 300;
  text-overflow: ellipsis;
  //text-align: center;
  font-weight: 400;
  //margin-left: 25%;
  //width: 50%;
}
#pac-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:black;
    opacity: 0.5; /* Firefox */
    font-weight: 400;
}
#pac-container {
  padding-bottom: 12px;
  margin-right: 0px;
}
/* label focus color */
  input#pac-input input[type=text]:focus + label {
    color: color("green", "darken-3") !important;
}
/* label underline focus color */
input#pac-input input[type=text]:focus {
  border-bottom: 1px solid color("green", "darken-3") !important;
  box-shadow: 0 1px 0 0 #000 !important;
}


.input-field label {
     color: color("green", "darken-3");
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #000;
   }
   /* label underline focus color */
   .chips.input-field input:focus,
   .input-field input[type=text]:focus,
   .input-field input[type=email]:focus,
   .input-field input[type=password]:focus
    {
     border-bottom: 1px solid color("green", "darken-3") !important;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid red;
     box-shadow: 0 1px 0 0 red;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
img.avatar{
  border: 2px solid white;
  //border: 1px solid #2E7D32;
}
