@font-face {
  font-family: 'icomoon';
  src:  font-url('icomoon.eot?ahumzg');
  src:  font-url('icomoon.eot?ahumzg#iefix') format('embedded-opentype'),
    font-url('icomoon.ttf?ahumzg') format('truetype'),
    font-url('icomoon.woff?ahumzg') format('woff'),
    font-url('icomoon.svg?ahumzg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-soccer-shoe:before {
  content: "\e901";
}
.icon-soccer-shoe2:before {
  content: "\e902";
}
.icon-soccer-court:before {
  content: "\e903";
}
.icon-soccer-court2:before {
  content: "\e904";
}
.icon-soccer:before {
  content: "\e900";
}
